<div class="card bg-ligth">
    <div class="card-body">
        <h5 class="card-title text-center">Agregar cita</h5>
        <div *ngIf="formularioIncorrecto" class="text-center">
            <span class="badge bg-danger">Todos los campos son obligatorios</span>
        </div>
        <div class="form-group mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" placeholder="Ingrese su nombre">
        </div>

        <div class="form-group mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="fecha" [(ngModel)]="fecha">
        </div>

        <div class="form-group mb-3">
            <label for="hora" class="form-label">Hora</label>
            <input type="time" class="form-control" id="hora" [(ngModel)]="hora" placeholder="Ingrese la hora">
        </div>

        <div class="form-group mb-3">
            <label for="sintomas" class="form-label">Síntomas</label>
            <textarea id="sintomas" class="form-control" rows="3" [(ngModel)]="sintomas" placeholder="Ingrese los síntomas"></textarea>
        </div>

        <button class="btn btn-primary col-lg-12" (click)="addCita()">Agregar cita</button>
    </div>
</div>